@model GreetViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-controller="Home" asp-action="Greet">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label asp-for=@Model.Name class="col-form-label"> Enter your name: </label>
            </div>
            <div class="col-auto">
                <input asp-for=@Model.Name class="form-control">
            </div>
            <button class="btn btn-primary col-auto">
                Ok  
            </button>
        </div>
    </form>
</div>
